fastapi==0.128.0
GPUtil==1.4.0
GPUtil==1.4.0
hdbscan==0.8.40
hezar==0.42.0
jellyfish==1.2.1
matplotlib==3.10.8
mss==10.1.0
numpy==2.4.0
opencv_contrib_python==4.6.0.66
opencv_python==4.5.4.60
opencv_python_headless==4.11.0.86
paddleocr==2.6.1.3
paddleocr.egg==info
peft==0.15.2
Pillow==12.1.0
psutil==5.9.8
pyautogui==0.9.54
pydantic==2.12.5
pynput==1.8.1
rapidfuzz==3.14.3
Requests==2.32.5
scikit_learn==1.8.0
scipy==1.16.3
sentence_transformers==4.1.0
skimage==0.0
sounddevice==0.5.2
torch==2.5.1+cu121
transformers==4.57.1
uvicorn==0.40.0
